<h2> Cost for each newlywed</h2>
<% @newlyweds.each do |newlywed| %>
  <% @newlywed = Newlywed.find_by(id: newlywed.id) %>
  <h3> <%= @newlywed.name %> </h3>
  <table class="table">
    <thead>
      <tr>
        <th scope = "col"> Name </th>
        <th scope = "col"> Cost </th>
        <th scope = "col"> Amount </th>
        <th scope = "col"> Sum </th>
      </tr>
    </thead>
    <tbody>
      <% @newlywed.expense.each do |expense| %>
      <tr>
        <td> <%= expense.name %> </td>
        <td> <%= expense.cost %> </td>
        <td> <%= expense.amount %> </td>
        <td> <%= (expense.amount * expense.cost).round(2) %> </td>
      </tr>

      <% end %>
      <tr>
        <td> Summary </td>
        <td> </td>
        <td> </td>
        <td> <%= Expense.where(newlywed_id: @newlywed.id).sum("cost * amount") %> </td>
      <tr>
    </tbody>
  </table>

<%  end %>
</br>
