- @expense_services.each do |service|
  = service.name
  = service.cost
  = service.amount
  = service.paydeadline
  = service.min_cost
  = service.mid_cost
  = service.max_cost
  = service.min_amount
  = service.mid_amount
  = service.max_amount
