<p id="notice"><%= notice %></p>

<h1>Event Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Home number</th>
      <th>Town</th>
      <th>Code</th>
      <th>State</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_adresses.each do |event_adress| %>
      <tr>
        <td><%= event_adress.home_number %></td>
        <td><%= event_adress.town %></td>
        <td><%= event_adress.code %></td>
        <td><%= event_adress.state %></td>
        <td><%= event_adress.event.name %></td>
        <td><%= link_to 'Show', event_adress %></td>
        <td><%= link_to 'Edit', edit_event_adress_path(event_adress) %></td>
        <td><%= link_to 'Destroy', event_adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Adress', new_event_adress_path %>
