<table class = "table">
  <thead>
    <tr>
      <th scope = "col"> Nazwa </th>
      <th scope = "col"> Koszt </th>
      <th scope = "col"> Ilość </th>
      <th scope = "col"> Ostateczny czas zapłaty </th>
      <th scope = "col"> Minimalny koszt</th>
      <th scope = "col"> Średni koszt</th>
      <th scope = "col"> Maxymalny koszt </th>
      <th scope = "col"> Mimimalna ilość </th>
      <th scope = "col"> Średnia ilość </th>
      <th scope = "col"> Maxymalna ilość </th>
      <th scope = "col"> Save </th>
    </tr>
  </thead>
  <tbody>
      <tr>

          <%= form_for @expense_stuff do |f| %>
            <td><%= f.text_field :name %></td>
            <td><%= f.text_field :cost %></td>
            <td><%= f.text_field :amount %></td>
            <td><div class='input-group date' id='datetimepicker3'>
                <%= f.text_field :paydeadline %>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span></div> </td>
            <td><%= f.text_field :min_cost %></td>
            <td><%= f.text_field :mid_cost %></td>
            <td><%= f.text_field :max_cost %></td>
            <td><%= f.text_field :min_amount %></td>
            <td><%= f.text_field :mid_amount %></td>
            <td><%= f.text_field :max_amount %></td>


            <td> <%= f.submit %> </td>
          <% end %>
      </tr>
  </tbody>

</div>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker3').datetimepicker({
        format: 'DD-MM-YYYY hh:mm'
      });
  });
</script>
</table>
