= form_for @expense_stuff do |f|
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :cost
  = f.text_field :cost
  %br/
  = f.label :amount
  = f.text_field :amount
  %br/
  = f.label :paydeadline
  = f.text_field :paydeadline
  %br/
  = f.label :min_cost
  = f.text_field :min_cost
  %br/
  = f.label :mid_cost
  = f.text_field :mid_cost
  %br/
  = f.label :max_cost
  = f.text_field :max_cost
  %br/
  = f.label :min_amount
  = f.text_field :min_amount
  %br/
  = f.label :mid_amount
  = f.text_field :mid_amount
  %br/
  = f.label :max_amount
  = f.text_field :max_amount
  %br/
  = f.label :amount
  = f.text_field :amount
  %br/
  = f.submit 'Save'
