<table class = "table" >
  <thead>
    <tr>
      <th scope = "col">Nazwa </th>
      <th scope = "col"> Koszt</th>
      <th scope = "col"> Ilość </th>
      <th scope = "col">Czas zapłaty </th>
      <th scope = "col">Minimalny koszt</th>
      <th scope = "col">Średni koszt</th>
      <th scope = "col">Maksymalny koszt</th>
      <th scope = "col">Minimalna ilość</th>
      <th scope = "col">Średnia ilość</th>
      <th scope = "col">Maksymalna ilość</th>
    <tr>
  <thead>
  <tbody>
    <% @expense_stuffs.each do |stuff| %>
      <tr>
        <td><%= stuff.name %></td>
        <td><%= stuff.cost %></td>
        <td><%= stuff.amount %></td>
        <td><%= stuff.paydeadline %></td>
        <td><%= stuff.min_cost %></td>
        <td><%= stuff.mid_cost %></td>
        <td><%= stuff.max_cost %></td>
        <td><%= stuff.min_amount %></td>
        <td><%= stuff.mid_amount %></td>
        <td><%= stuff.max_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
