- @expense_stuffs.each do |stuff|
  = stuff.name
  = stuff.cost
  = stuff.amount
  = stuff.paydeadline
  = stuff.min_cost
  = stuff.mid_cost
  = stuff.max_cost
  = stuff.min_amount
  = stuff.mid_amount
  = stuff.max_amount
