
<% @newlyweds = Newlywed.all %>
<% @newlyweds.each do |newlywed| %>
  <h3><%= newlywed.name %> </h3>
  <table class="table">
    <thead>
      <tr>
        <th scope = "col"> Imię </th>
        <th scope = "col"> Nazwisko </th>
        <th scope = "col"> Ilość osób z towarzyszami </th>
      </tr>
    </thead>
    <tbody>
      <% yes_status = GuestListStatus.find_by(status: "yes") %>
      <% @newlywed_guest_lists = NewlywedGuestList.where(newlywed_id: newlywed.id, guest_list_status_id: yes_status) %>
        <% @newlywed_guest_lists.each do |list| %>
          <% guest = Guest.find_by(id: list.guest_id) %>
          <tr>
            <td> <%= guest.name %></td>
            <td> <%= guest.surname %></td>
            <td> <%= guest.companion.number %> </td>
          </tr>
        <% end %>
        <tr>
          <td>Razem </td>
          <td> </td>
          <td><%= CompanionNumber.newlywed_guest_sum_with_companions(newlywed) %> </td>
        </tr>
    </tbody>
  </table>
<% end %>
