<% @guests = Guest.all %>
<% @events = Event.all %>

<table class = "table">
  <thead>
    <tr>
      <th> Imię </th>
      <th> Nazwisko </th>
      <% @events.each do |event| %>
        <th><%= event.name %></th>
        <th> Save </th>
      <% end %>
    <tr>
  </thead>
  <tbody>

      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.surname %></td>
          <% @events.each do |event| %>
            <% @ea_guest_confirmation = EaGuestConfirmation.find_by(guest_id: guest.id, event_id: event.id) %>
            <% @event_attendance = EventAttendance.find_by(guest_id: guest.id, event_id: event.id) %>
            <% @event_attendance_status_no = EventAttendanceStatus.find_by(eastatus: "no").id %>
            <% if @event_attendance.event_attendance_status_id == @event_attendance_status_no %>
              <td> ------------ </td>
              <td> ------------ </td>
            <% else %>
            <%= form_for @ea_guest_confirmation,  url: {action: "admin_update_ea_guest_confirmation"}, method: :post do |f| %>
              <td><%= f.collection_select :guest_confirmation_status_id, @confirmations ,:id, :status , include_blank: false %></td>
                  <%= f.hidden_field :ea_guest_confirmation_id, value: @ea_guest_confirmation.id %>
              <td><%= f.submit "SAVE" %></td>
            <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
