<%= form_for @event do |f| %>
  <div class = "container" >
    <div class= "row" >
      <div class = "col-sm-6">
        <%= f.label :name %>
        <%= f.text_field :name %>
        <div class="form-group">
          <%= f.label :event_date %>
          <div class="input-group date" id = "datetimepicker3">
            <%= f.text_field :event_date , :class => "form-control" %>

            <span class= "input-group-addon">
              <span class = "glyphicon glyphicon-calendar" ></span>
            </span>
          </div>
        </div>
            <%= f.submit 'Save' %>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(function () {
      $('#datetimepicker3').datetimepicker({
        format: 'DD-MM-YYYY hh:mm'
      });
  });
  </script>
