<h2> Update accompaning people </h2>
<p> Choose from the list how many accompanying people will have a guest </p>
<table class="table">
  <thead>
        <tr>
          <th scope="col">Imię </th>
          <th scope="col">Nazwisko </th>
          <th scopr="col">Ilość kompanów </th>
          <th scope ="col"> Save </th>

        </tr>
  </thead>
  <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td> <%= guest.name %> </td>
          <td> <%= guest.surname %> </td>
          <% @companion = Companion.find_by(guest_id: guest.id)%>
          <%= form_for  @companion, url: {action: "update_accompaning_people"}, method: :post do |f| %>
              <td><%= f.select :number, options_for_select(0..10), { prompt: "No Limit" } %>
                  <%= f.hidden_field :companion_id, value: @companion.id %>
              <td><%= f.submit "save" %> </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
