<table class = "table">
  <thead>
    <tr>
      <th scope = "col"> Add new expense </th>
    </tr>
  </thead>
  <tbody>
      <%= form_for @expense do |f| %>
      <tr>
        <th scope = "col">Name</th>
        <th scope = "col">Paydedline</th>
        <th scope = "col">Cost</th>
        <th scope = "col">Amount</th>
        <th scope = "col">Whos cost</th>
        <th scope = "col"> With event</th>
      </tr>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><div class='input-group date' id='datetimepicker3'>
            <%= f.text_field :paydeadline %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span></div> </td>
        <td><%= f.text_field :cost %></td>
        <td><%= f.text_field :amount %></td>
        <td><%= f.collection_select :newlywed_id, @newlyweds ,:id, :name , include_blank: false %> </td>
        <td><%= f.collection_select :event_id, @events ,:id, :name , include_blank: false %> </td>
      </tr>

      <td><%= f.submit %></td>

    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(function () {
      $('#datetimepicker3').datetimepicker({
        format: 'DD-MM-YYYY hh:mm'
      });
  });
</script>
