<h2>All expense </h2>
<table class = "table" >
  <thead>
    <tr>
      <th scope = "col">Name </th>
      <th scope = "col">Cost</th>
      <th scope = "col">Amount </th>
      <th scope = "col">Pay dedline</th>
      <th scope = "col">Whos cost</th>
      <th scope = "col">Witch event </th>
      <th scope = "col"></th>
      <th scope = "col"></th>
    </tr>
  <thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td><%= expense.cost %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.paydeadline %></td>
        <td><%= expense.newlywed.name %></td>
        <td><%= expense.event.name %></td>
        <td><%= link_to 'Destroy',  expense_path,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
