test new
= form_for @event_attendance do |f|
  = f.label :event_attendance
  = f.select :status,  EventAttendance.statuses.keys.map {|w| [w.humanize, w]}
  = f.submit 'Save'
  - @events.each do |event|
    = event.name
