<table class="table">
  <thead>
        <tr>
          <th scope="col">Imię </th>
          <th scope="col">Nazwisko </th>
          <% @eventsname.each do |event| %>
            <th scope="col"> <%=  event.name %>  </th>
          <% end %>
          <th scope ="col"> Save </th>
        </tr>
  </thead>
  <tbody>
      <% @guests.each do |guest| %>
        <% @event_attendances = guest.event_attendances %>

          <tr>
            <td> <%= guest.name %> </td>
            <td> <%= guest.surname %> </td>
            <%= form_tag edit_event_attendance_path do |f| %>
            <% @event_attendances.each do |event_attendance| %>
              <% fields_for "event_attendances[]", event_attendance do |ea| %>
              <td> <%= ea.collection_select :event_attendance_statuses_id, event_attendance ,:id, :eastatus %>  </td>
                <% end %>
            <% end %>
          </tr>
1         <% end %>
      <% end %>
  </tbody>
</table>
