<table class="table">
  <thead>
        <tr>
          <th scope="col">Imię </th>
          <th scope="col">Nazwisko </th>
          <th scopr="col">Ilość kompanów </th>
          <th scope ="col"> Save </th>

        </tr>
  </thead>
  <tbody>
      <% @guests.each do |guest| %>
        <tr>
          <td> <%= guest.name %> </td>
          <td> <%= guest.surname %> </td>
          <% @accompanig_person = AccompaningPerson.find_by(guest_id: guest.id)%>
          <%= form_for @accompanig_person, url: {action: "update_accompaning_people"}, method: :post do |f| %>
              <td><%= f.collection_select :accompaning_persons_number_id, @accompaning_persons_number ,:id, :number , include_blank: false %> </td>
              <td><%= f.submit "save" %> </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
