<!DOCTYPE html>
<html>
  <head>
    <title>Wedding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">
  </head>

  <body data-no-turbolink="true">
    <%  if current_admin_user %>
      <div class = "full-container">

          <% if notice %>
          <div class = "messages">
            <p class="notice"><%= notice %></p>
          </div>
          <% end %>
          <% if alert %>
          <div class = "messages">
            <p class="alert"><%= alert %></p>
          </div>
          <% end %>

        <div class = "menu-side">
          <%= render "layouts/navigation" %>
          <%= render "layouts/count_down_timer" %>
        </div>
        <div class="full-content">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  <style>
    html,body {
      height:100%;
      min-height: 100% !important;
    }

    body {
      min-height: 100vh;
      padding: 0; margin: 0;
    }

    .full-container {
      width: 100%;
    }

    .menu-side {
      width: 20%;
      float: left;
      height: 100%;
      min-height: 100vh;
      top: 0;
      bottom: 0;
      background: #111;
      color: #818181;
    }

    .full-content {
      width: 80%;
      float: left;
      padding: 48px;
      height: 100%;
      flex: 2;
    }

    .messeages {
      width: 100%;
    }

  </style>
  </body>
</html>
